body {
	background-color: black;
	padding: 1em 25em 1em;
}

.container {
	background-color: mistyrose;
	/*background-color: #191970;*/
	padding: 1em;
	border: 3px solid #191970;
}

.sharkContainer {
	background-color: white;
	padding: 1em;
	text-align: center;
}

.fact {
	font-style: italic;
	font-color: black
	font-weight: normal;
}

.items {
	font-weight: bold;
	font-color: white;
	list-style-type: none;
}

img {
	padding: 1px;
	border: 1px solid black;
	box-shadow: 10px 10px;
	background-color: slategrey;
}

h3 {
	text-align: center;
}