body {
	background-color: black;
	padding: 1em 25em 1em;
}

.container {
	background-color: white;
	padding: 1em;
	border: 3px solid blue;
}

.fact {
	font-style: italic;
	font-color: black
	font-weight: normal;
}

.items {
	font-weight: bold;
	font-color: white;
	list-style-type: none;
}

img {
	padding: 1em 5em 1em;
	border: 1px solid black;
	background-color: lime;
}

h3 {
	text-align: center;
}