body {
	background-color: black;
	padding: 1em 25em 1em;
}

.container {
	background-color: mistyrose;
	width: 350px;
	/*background-color: #191970;*/
	padding: 1em;
	border: 3px solid #191970;
}

.sharkContainer {
	background-color: white;
	padding: 1em;
	text-align: center;
	border: 3px;
}

.textContainer {
	border: 1px solid #191970;
	padding: 3px;
}

.fact {
	font-style: italic;
	font-color: black
	font-weight: normal;
}

li {
	list-style-type: none;
}

.info {
	font-weight: bold;
	font-color: white;
}

img {
	padding: 1px;
	border: 1px solid black;
	box-shadow: 5px 5px;
	background-color: slategrey;
}

h3 {
	text-align: center;
	border: 1px solid #191970;
}